<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logsDir">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="LogToFile"
                     fileName="${logsDir}/msvc-clientes.log"
                     filePattern="${logsDir}/msvc-clientes-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="%d %-5p %c{1.} [%t] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logsDir}">
                    <IfFileName glob="msvc-clientes-*.log.gz" />
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.devsu.dcifuentes.msvc.clientes" level="info" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>